@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700");

:root {
  --rrtheme-color: #ca4747;
}

html,
body {
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  flex-direction: column;
}

html {
  background-color: var(--rrtheme-color);
}

body {
  max-width: 100%;
  background-color: white;
}

.container {
  padding: 50px 20px;
  flex: 1;
}

nav {
  padding: 2px;
  display: block;
  background: var(--rrtheme-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: auto;
}

nav .menu__item {
  padding: 5px 8px;
  font-size: 0.9em;
  text-shadow: 0 0 1px #000;
}
nav .menu__item[href] {
  color: white;
}

a[href] {
  color: var(--rrtheme-color);
  text-decoration: none;
}

main {
  max-width: var(--max-width);
  margin: auto;
  width: 100%;
  padding-bottom: 100px;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: auto;
}

header {
  color: white;
  font-weight: 200;
  width: 100%;
  margin: 0 auto;
  background-color: var(--rrtheme-color);
  text-align: center;
  padding: 80px 20px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: auto;
  box-sizing: border-box;
}

header h1 {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

header .author,
header time {
  color: inherit;
  font-family: inherit;
  font-style: normal;
  font-weight: inherit;
}

header h1,
header p,
header a[href] {
  color: white;
}
header .byline {
  margin-top: 20px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 34px;
  font-weight: 200;
}

@media (max-width: 640px) {
  header {
    text-align: left;
  }
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  font-weight: 400;
}

main h2 {
  margin-top: 3em;
}
main h3 {
  margin-top: 2em;
}

main .katex-display {
  overflow-x: scroll;
  padding-top: 8px;
  padding-bottom: 8px;
}

.comments_meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comments {
  padding: 30px 20px 0;
  font-family: sans-serif;
}

.comments_count {
  font-weight: 700;
}

.comments_loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.comments .spinner {
  margin-bottom: 5px;
}

.comment[href] {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 15px 0;
  padding: 15px;
  color: black;
  text-decoration: none;
}
.comment[href]:visited {
  color: black;
}
.comment[href]:hover {
  border-color: #999;
  text-decoration: none;
}
.comment[href]:last-child {
  margin-bottom: 0;
}

.comment_meta {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  font-size: 13px;
}

.comment_ago {
  color: #666;
}
.comment_ago:visited {
  color: #666;
}

.comment_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 700;
}
.comment_user:visited {
  color: black;
}
.comment_commenter {
  font-weight: 400;
  color: #666;
}

.comment_content p:first-child {
  margin-top: 10px;
}
.comment_content p:last-child {
  margin-bottom: 0;
}

.comment_user img {
  margin-right: 10px;
  border-radius: 2px;
  border: 1px solid #ddd;
  width: 30px;
  height: 30px;
}

.threebody{width:60px;height:60px;position:relative}
.threebody-o{position:absolute;top:50%;left:50%}
.threebody-o>div{position:absolute;animation:3s infinite linear}
.threebody-o>div:after{content:'';position:absolute;width:12px;height:12px;border-radius:100%;transform:translate(-50%,-50%);background:inherit}
.threebody-o>div:nth-child(1){background:#a0d323;animation-name:threebody-0}
.threebody-o>div:nth-child(2){background:#23a0d3;animation-name:threebody-1}
.threebody-o>div:nth-child(3){background:#d323a0;animation-name:threebody-2}
@keyframes threebody-0{from{transform:rotate(0)translatex(0.01px)rotate(0)translatex(0.01px)rotate(0)translatex(0.03px)rotate(0)translatex(0.07px)rotate(0)translatex(0.16px)rotate(0)translatex(0.41px)rotate(0)translatex(1.3px)rotate(0)translatex(8px)rotate(0)translatex(-17px)rotate(0)translatex(0.21px)rotate(0)translatex(0.01px)}to{transform:rotate(-31turn)translatex(0.01px)rotate(4turn)translatex(0.01px)rotate(4turn)translatex(0.03px)rotate(4turn)translatex(0.07px)rotate(4turn)translatex(0.16px)rotate(4turn)translatex(0.41px)rotate(4turn)translatex(1.3px)rotate(4turn)translatex(8px)rotate(4turn)translatex(-17px)rotate(4turn)translatex(0.21px)rotate(8turn)translatex(0.01px)}}
@keyframes threebody-1{from{transform:rotate(0)translatex(-0.01px)rotate(0)translatex(0.01px)rotate(0)translatex(-0.03px)rotate(0)translatex(0.07px)rotate(0)translatex(-0.16px)rotate(0)translatex(0.41px)rotate(0)translatex(-1.3px)rotate(0)translatex(8px)rotate(0)translatex(17px)rotate(0)translatex(0.21px)rotate(0)translatex(0.01px)}to{transform:rotate(-31turn)translatex(-0.01px)rotate(4turn)translatex(0.01px)rotate(4turn)translatex(-0.03px)rotate(4turn)translatex(0.07px)rotate(4turn)translatex(-0.16px)rotate(4turn)translatex(0.41px)rotate(4turn)translatex(-1.3px)rotate(4turn)translatex(8px)rotate(4turn)translatex(17px)rotate(4turn)translatex(0.21px)rotate(8turn)translatex(0.01px)}}
@keyframes threebody-2{from{transform:rotate(0)translatex(-0.01px)rotate(0)translatex(-0.03px)rotate(0)translatex(-0.13px)rotate(0)translatex(-0.81px)rotate(0)translatex(-16px)rotate(0)translatex(-0.42px)rotate(0)translatex(-0.02px)}to{transform:rotate(-35turn)translatex(-0.01px)rotate(8turn)translatex(-0.03px)rotate(8turn)translatex(-0.13px)rotate(8turn)translatex(-0.81px)rotate(8turn)translatex(-16px)rotate(8turn)translatex(-0.42px)rotate(8turn)translatex(-0.02px)}}


footer {
  background: var(--rrtheme-color);
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 30px 20px;
  text-align: right;
}
.footer__attrib {
  max-width: 640px;
  margin: auto;

}

.index {
  padding: 0;
  margin: 0 auto;
  width: 640px;
  max-width: 100%;;
  list-style-type: none;
}

.index .meta {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  gap: 3px;
}

.index p {
  margin: 0;
}
.index li {
  margin-bottom: 10px;
}

.index .title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  flex: 1;
  line-height: 1.4;
}

.index .publishedAt {
  color: #888;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  order: 0;
}

.resource-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.resource-link {
  vertical-align: middle;
}
.resource-link .icon {
  position: relative;
  top: 2px;
  width: 15px;
}

@media(max-width: 640px) {
  .index .meta {
    flex-wrap: wrap;
  }
  .index .publishedAt {
    order:  -1;
  }
  .index .title {
    flex: 1 1 100%;
  }
  .index li {
    margin-bottom: 20px;
  }
  .resource-links {
    justify-content: flex-start;
  }
}

